@import '../../variables.scss';

.cards-container {
  padding: 0px 75px;
  margin-top: 60px;

  @media (max-width:700px){
    margin-top: 0px;
  }

  @media (max-width: 1180px) {
    padding: 0px 20px;
  }

  @media (max-width: 520px) {
    padding: 0px 0px;
  }

  .cards-flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 270px;
    height: 300px;
    padding: 25px 20px;
    background: linear-gradient(180deg, #2C3744 0%, #1A2532 100%);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 270px;
    max-width: 540px;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 18px;
        line-height: 21px;
        color: $grey;
      }

      .links {
        display: flex;
        flex-direction: row;

        a {
          text-decoration: none;
          transition: .3s;
          margin: 0px 5px;
        }

        a:hover {
          filter: brightness(2.0);
        }

        .erase {
          color: $red;
        }
  
        .edit {
          color: $yellow;
        }

      }

    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
      overflow-y: hidden;

      .card-body {
        margin-top: 20px;
        font-size: 14px;
        line-height: 28px;
        color: $grey;
      }
  
      .card-footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        a{
          font-size: 14px;
          color: $blue;
          text-decoration: none;
          transition: .3s;
          font-weight: bold;
        }

        a:hover {
          filter: brightness(1.40);
        }
      }

    }
  }

}