.login-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  margin-bottom: 60px;

  @media (max-width: 960px) {
    max-width: 100%;
  }

  .label {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .row {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 320px){
      flex-direction: column;
      align-items: flex-start;

      a {
        margin-top: 30px;
      }
    }
  }

  span {
    margin-top: 20px;
  }
  
}