@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: $main-background;
  color: $grey;
  font: 400 16px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-size: 32px;
  line-height: 38px;
  color: $yellow;
  font-weight: bold;

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.title.green {
  color: $green;
}

.text {
  font-size: 16px;
  line-height: 32px;

  @media (max-width: 520px) {
    font-size: 14px;
    line-height: 28px;
  }
}

.button {
  width: 140px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  filter: brightness(1.10);
  cursor: pointer;
}

.button.yellow {
  background-color: $yellow;
  color: #FFFFFF;
}

.button.green {
  background-color: rgb(77, 204, 149);
  color: $main-background;
}

.link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $blue;
  text-decoration: underline;
  transition: ease-in-out .3s;
}

.link:hover {
  filter: brightness(1.20);
  cursor: pointer;
}

.unselect-text {
  color: $dark;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

// BASE STRUCTURE
.main-container {
  min-height: 100vh;
  width: 100%;
  padding: 0px 95px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1280px) {
    padding: 0px 40px;
  }

  @media (max-width: 520px) {
    padding: 0px 20px;
  }

  .main-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    min-height: 100vh;
    max-width: 1366px;

    @media (min-width: 1360px) {
      align-self: center;
    }

    @media (max-width: 960px) {
      margin-top: 60px;
      justify-content: center;
    }

    .main-f-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 60px;

      p {
        margin-top: 30px;
      }
    }

    .main-content {
      max-width: 470px;
    }
  
    .main-l-column {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      img {
        width: 100%;

        @media (max-width: 1360px) {
          width: 520px;
        }

        @media (max-width: 1080px) {
          width: 450px;
        }

        @media (max-width: 1000px) {
          width: 400px;
        }
      }
    }

  }

  label {
    color: $dark;
    font-size: 14px;
    line-height: 32px;
  }
  
  input {
    border: none;
    border-bottom: 2px solid $grey;
    background: none;
    font-size: 14px;
    color: $grey;
    padding: 5px 0px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    border-bottom: 1px solid $grey;
    -webkit-text-fill-color: $grey;
    -webkit-box-shadow: 0 0 0px 1000px $main-background inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
}
