// VARs

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

$yellow: #F4AF25;
$dark: #696969;
$secondary-dark: #1A2532;
$grey: #C3CBD5;
$main-background: #0F1824;
$blue: #398EF2;
$red: #F72222;
$green: #7AF49C;
