@import '../../variables.scss';

.project-content {
  margin-top: 45px;
  width: 100%;
  padding: 0px 95px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1280px) {
    padding: 0px 40px;
  }

  @media (max-width: 520px) {
    padding: 0px 20px;
  }

  .form-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-content {
      display: flex;
      flex-direction: column;
      max-width: 370px;

      .row {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;

        label {
          font-size: 22px;
          font-weight: bold;
          color: $grey;
          margin-bottom: 5px;
        }

        input {
          border: none;
          border-bottom: 2px solid $grey;
          background: none;
          font-size: 14px;
          color: $grey;
          padding: 5px 0px;
        }

        .row-add-task {
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            font-size: 14px;
            color: $green;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: .3s;
          }

          a:hover {
            filter: brightness(1.3);
            text-shadow: $green 0px 0px 2px;
          }
        }

      }
    }

    .form-tasks {
      display: flex;
      flex-direction: column;
      min-width: 470px;

      b {
        font-size: 22px;
        margin-top: 15px;
      }

      .tasks-list {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        .task-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 10px 0px;

          label {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            user-select: none;
          }

          input {
            -webkit-appearance: none;
            background-color: none;
            border: 1px solid $grey;
            padding: 9px;
            display: inline-block;
            position: relative;
            overflow: hidden;
          }

          input:checked:after {
            content: '\2714';
            font-size: 16px;
            position: absolute;
            top: 0px;
            left: 2px;
            color: $yellow;
          }

          span {
            font-size: 16px;
            color: $grey;
            margin: 0px 5px;
          }

          svg {
            cursor: pointer;
            margin-left: 15px;
            transition: .2s;
          }

          svg:hover {
            filter: brightness(2);
            transform: scale(1.1);
          }

        }

      }
    }
  }
}